<!DOCTYPE html>
<head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
div.relative {
    position: relative;
    border: 3px;
}

div.absolute {
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    height: 400px;
    border: 3px solid #BAC0C6;
    background:#EDF0F5;
}
</style>
</head>
<body>
    <div ng-app = "myapp" ng-controller = "GroupController">
        <nav class="navbar navbar-default" style="background-color:#3A5795;">
          <div class="container-fluid relative">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="/homepage">Home</a></li>
                <li><a href="/aboutPage">About</a></li>
                <li><a href="/Group">Groups</a></li>
                <li><button type="button" class="btn btn-danger"  ng-click = "checkNotification()">Notifications <span class="badge">{{count}}</span></button></li>
                <li><a href="/signOut">Signout</a></li>
              </ul>
            </div>
        </nav>
        <div ng-show = "show" class= "container absolute" style="overflow-y:scroll;">
                <div ng-repeat = "notification in notifications" >
                <p>you have got one frined request from : {{notification.requestfrom}}</p>
                <input type="button" class="btn btn-success" ng-click="acceptFriend(this)" value="Accept" id="{{notification.requestid}}" >
                <input type="button" class="btn btn-danger" ng-click="rejectFriend(this)" value="Reject" id="{{notification.requestid}}">
                <!-- <button type="button" class="btn btn-success">Accept</button>
                <button type="button" class="btn btn-danger">Reject</button> -->
                </div>
        </div>
        <div class="container">
  <h2>Groups  <button type="button" class="btn btn-success" ng-click = "createGroup()" data-toggle="modal" data-target="#myModal">Create</button>
</h2>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Group</h4>
        </div>
        <div class="modal-body">
            Group Name : <input type="text" ng-model = "groupName"><br>
            Members :
            <div ng-repeat = "member in members track by $index">
                {{member}}
            </div>
            <table class="table">
                <tr ng-repeat="friend in friends track by $index | filter:searchText">
                    <td>{{friend}}</td>
                    <td><input type="button" value="select" class="btn btn-primary" ng-click="addMember(friend)"/></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click = "savegroupDetail()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="groupdetail in groupDetails track by $index">
          <td>{{groupdetail.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<script>
var app = angular.module("myapp", [ ]);
app.controller('GroupController', function($scope, $http) {
    $scope.show = false;
    var localmembers = [];
    var groupDetails = [];
     function friends(){
         console.log("In the method");
         $http({
             method: 'Get',
             url: '/friends',
                         }).success(function(response){
                             $scope.friends = JSON.parse(response.friendlist);
                           console.log("connResult:>>"+$scope.friends);
                            }).error(function(error){
                            alert("error in friends");
                        });
                    }

                    friends();

            $scope.addMember = function (friend) {
                console.log(friend);
                console.log(localmembers);
                localmembers.push(friend);
                $scope.members = localmembers;
            }

            $scope.savegroupDetail = function () {
                var groupDetail = { "name" : $scope.groupName,
                "members" : $scope.members,
                "groupID" : ""
            };
            console.log(groupDetail);
            console.log($scope.groupDetails);
            groupDetails.push(groupDetail);
            $scope.groupDetails = groupDetails;
            }

            $scope.show = false;
             $scope.checkNotification = function () {
                     $scope.show = ! $scope.show;
                $http({
                  method: 'Get',
                      url: '/notifications',
                   }).success(function(response){
                     $scope.notifications = JSON.parse(response.notifications);
                     $scope.count = $scope.notifications.length;
                     console.log("connResult:>>"+$scope.notifications);
                      }).error(function(error){
                      alert("error in notifications");
                  });
            }
});

</script>
</body>
