/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

/*.divrelative{position: relative;}
.divabs{position: absolute;top:0px;right:0px;background-color: #000;width:100px;height:200px;}*/
